digitalsigner/Web References/ffcsCMSL/UpgradeLicense.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFinYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFinYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFinYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustSerialNoByLicNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustSerialNoByLicNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustSerialNoByLicNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFinYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetFinYear" />
  </wsdl:message>
  <wsdl:message name="GetFinYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetFinYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustSerialNoByLicNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustSerialNoByLicNo" />
  </wsdl:message>
  <wsdl:message name="GetCustSerialNoByLicNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustSerialNoByLicNoResponse" />
  </wsdl:message>
  <wsdl:portType name="UpgradeLicenseSoap">
    <wsdl:operation name="GetFinYear">
      <wsdl:input message="tns:GetFinYearSoapIn" />
      <wsdl:output message="tns:GetFinYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustSerialNoByLicNo">
      <wsdl:input message="tns:GetCustSerialNoByLicNoSoapIn" />
      <wsdl:output message="tns:GetCustSerialNoByLicNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpgradeLicenseSoap" type="tns:UpgradeLicenseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFinYear">
      <soap:operation soapAction="http://tempuri.org/GetFinYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustSerialNoByLicNo">
      <soap:operation soapAction="http://tempuri.org/GetCustSerialNoByLicNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpgradeLicenseSoap12" type="tns:UpgradeLicenseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFinYear">
      <soap12:operation soapAction="http://tempuri.org/GetFinYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustSerialNoByLicNo">
      <soap12:operation soapAction="http://tempuri.org/GetCustSerialNoByLicNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpgradeLicense">
    <wsdl:port name="UpgradeLicenseSoap" binding="tns:UpgradeLicenseSoap">
      <soap:address location="https://ffcs.in/cmsl/UpgradeLicense.asmx" />
    </wsdl:port>
    <wsdl:port name="UpgradeLicenseSoap12" binding="tns:UpgradeLicenseSoap12">
      <soap12:address location="https://ffcs.in/cmsl/UpgradeLicense.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>